<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>ContaServlet</servlet-name>
        <servlet-class>com.banco.controller.ContaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContaServlet</servlet-name>
        <url-pattern>/conta</url-pattern>
    </servlet-mapping>
</web-app>
